#mainLeft{
    width: 200px; 
    height: calc(100vh);
}

.bg-left{
    background: #ececec;
}

#mainRight{
   width: calc(100% - 200px);
   height: calc(100vh);
   
}

.bg-nav{
    background-color: #4198c7;
}
